
@{
    ViewBag.Title = "News";
}
<table data-toggle="table" data-height="299" data-cache="false">
    <thead>
        <tr>
            <th data-field="state" data-align="right">Titre</th>
            <th data-field="id" data-align="right">Porteur</th>
            <th data-field="name" data-align="center">Date de création</th>
            <th data-field="price" data-align="left">Statut</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ravallement des façades</td>
            <td>O. Villard</td>
            <td>22/06/2013</td>
            <td>A l'étude</td>
        </tr>
        <tr>
            <td>Ravallement des façades</td>
            <td>O. Villard</td>
            <td>22/06/2013</td>
            <td>A l'étude</td>
        </tr>
        <tr>
            <td>Ravallement des façades</td>
            <td>O. Villard</td>
            <td>22/06/2013</td>
            <td>A l'étude</td>
        </tr>
    </tbody>
</table>
